
html {
    font-family: sans-serif;
}

body {
    max-width:1000px;
    margin:0 auto;
    padding: 1rem 2rem;
}

.controls {
    margin-bottom:2rem;
}

#search {
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0.25rem;
}

.listing {
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.no-description {
    opacity: 0.5;
}

.listing > h2 {
    margin:0;
}

.listing img {
    vertical-align: bottom;
}
